/* Используемые цвета:

#777777
#ffffff
#fffebc
#b2fdd0
#ffbaba

*/

.formula {
    margin: 10px;
    width: 500px;
    border-collapse: collapse;
    display: table;
  }
  .formula p {
    margin: 0;
    padding: 10px;
    font-size: 20px;
    display: table-caption;
    caption-side: bottom;
    text-align:center;
  }
  .formula ul
  {
      display: table-row;      
  }
  .formula li
  {
    display: table-cell;
    border: 1px solid;    
    padding: 5px;
  }
  .formula header
  {
      display: table-header-group;
      text-align: center;
      vertical-align:middle;
      background-color:white;
      border-color:#ffffff;
  }
.formula .content 
{
    display: table-row-group;
}
.formula .content li 
{
    text-align: center;
    vertical-align:middle;
    border-color:#777777;
}
.formula .column-group
{
  display:table-column-group;
}
.formula .column
{
display:table-column;
}
.formula .column-group .column
{
  background:#b2fdd0;
}
.formula .column-last 
{
   background:#ffbaba;
}
.formula .content-important
{
display:table-row-group;
background:#fffebc;
}
