/* Небольшая подсказка, дальше сами 
фоновые картинки, которые используются в оформлении:
img/wood.png, img/wall-1.png, img/wall-2.png.
Цвет: #686868.
*/
body
{
margin:10px;
display:table;
}
body article
{
display:table-cell;
}

article {
  width: 470px;
  height:200px;
  display:table;
  border:5px solid #686868;
  border-spacing:15px 15px;
  background-image:url('img/wood.png');
}
article ul
{
display:table-row;
height:100px;
}
article li
{
display:table-cell;
margin:auto;
padding:15px 0px 10px 0px;
border:10px solid #686868;
background-image:url('img/wall-1.png');
width:100px;
text-align:center;
}

/*
фоновые картинки, которые используются в оформлении:
img/wood.png, img/wall-1.png, img/wall-2.png.
Цвет: #686868.
*/