/* Испытание: ещё одна таблица CSS/
body
{
margin:10px;
}

article {
  width: 470px;
  height:200px;
  display:table;
  border:5px solid #686868;
  border-spacing:15px 15px;
  background-image:url('img/wood.png');
}
article ul
{
display:table-row;
height:115px;
}
article ul + ul
{
display:table-row;
background-image:url('img/wall-1.png');
}

article li
{
display:table-cell;
border:10px solid #686868;
background-image:url('img/wall-1.png');
text-align:center;
vertical-align:middle;
}

article ul + ul > li
{
  background-image:url('img/wall-2.png');
  }

article ul + ul > li
{
  width:110px;
  }

article ul + ul > li + li
{
  width:90px;
  }

article ul + ul > li + li + li
{
display:table-cell;
border:10px solid #686868;
width:150px;
text-align:center;

}



/*
фоновые картинки, которые используются в оформлении:
img/wood.png, img/wall-1.png, img/wall-2.png.
Цвет: #686868.
*/